button {
    display: inline-block;
}

.usla_login a {
    color: black;
    font-style: italic;
    font-size: 12pt;
}

h4 {
    color: rgba(5, 5, 5, 0.93);
}

.field_errors {
    background-color: springgreen;
    width: 500px;
    padding: 12px;
}

.field_errors h1 {
    color: rgba(23, 26, 21, 0.92);
    padding: 12px;
    margin-top: 12px;
    text-align: left;
    font-size: 1.12em;
}
.field_errors ul, .field_errors li {
    background: rgba(248, 248, 248, 0.97);
    margin-left: auto;
    margin-right: auto;
    
}

.usla_login span.helptext {

    font-size: 0.92em;
    width: 35%;
    float: right;

    font-weight: 800;
    color: rgba(92, 90, 92, 0.96);
    margin-top: 8px;
    background: rgba(255, 255, 255, 0.12);
    border: 0;
    
  
    padding: 0;
    font-style: italic;
}

.usla_login form p {
    margin-top: 16px;
}
.field_erros ul {
    width: 240px;
    background-color: springgreen;
}

.usla_login label {
    display: block;
    min-width: 100px;
    font-weight: 600;
    font-size: 12pt;
    margin-bottom: 4px;
}


.usla_login form {
    background-color: rgba(255, 255, 255, 0.12);
}

.usla_login input {
    color: rgba(5, 5, 5, 0.97);
    width: 60%;
   
}


.usla_login input#image-clear_id {
    width: 10px;
    margin: 0;
    padding: 0;
}


.usla_login ul, .usla_login li {
    width: 80%;
}
.ms_div, .member_center {
    float: left;
    width: 96%;
    padding-left: 2%;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 2%;
 
    background-color: rgba(255, 255, 255, 0.85);
}
.ms_item {
    width: 33.33%;
    float: left;
    margin-bottom: 16px;
}

.ms_left {

    float:left;
    padding-bottom: 8px;
    padding-top: 8px;
    width: 100%;
}
.ms_right {
    width: 100%;
}
.usla_login:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}
.usla_login {
    color: #555;
    background-color: rgba(255, 255, 255, 0.95);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(40, 40, 40, 0.12);
    padding: 12px;
    width: 85%;
    margin-top: 8px;
    margin-bottom: 8px;
    box-shadow: none;
}

label {

}

.usla_login li {
    padding: 4px;
}

.usla_login p {
    width: 80%;
}

.usla_login input,
    .usla_login p {

        font-size: 14px;
        padding: 8px;

    }

.usla_login h3 {
    font-size: 22px;
    font-weight: 400;
}

.usla_login a {
    color: rgba(232, 30, 42, 0.96);
    font-size: 14px;
    margin: 6px;
}

    .usla_login button {
        padding: 12px;
        color: white;
        background-color: rgba(232, 30, 42, 0.96);
        font-size: 16px;
        border-radius: 4px;
    }

.member_center {

    margin-left: auto;
    margin-right: auto;

}

.member_image {
    width: 100px;
    height: 100px;
    float: left;
    position: relative;
    margin-top: 16px;
   
}
.image_field {
    margin-top: 8px;
    margin-bottom: 16px;
    float: left;
}
.html_content h1 {
    color: rgba(35, 35, 35, 0.96);
    text-align: center;
}
.html_content h2 {
    color: rgba(242, 242, 242, 0.96);
    background: rgba(5, 5, 5, 0.96);
    font-size: 18pt;
    padding: 12px;
    font-weight: 400;
    text-shadow: none;
    letter-spacing: 0.14em;
    text-align: center;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}

.html_content {

    width: 100%;
    margin: 0;
    padding: 0;
}

.member_user h4 {
    text-align: center;
    color: rgba(92, 90, 92, 0.96);
}





table tr {
    font-weight: 200;
    color: rgba(214, 20, 72, 0.96);
    padding: 6px;
    margin: 6px;
    background-color: white;
}

input {
    border-color: rgba(197, 140, 142, 0.17);

}

.underline {
    height: 1px;
    margin-top: 20px;
    width: 100%;
    background-color: rgba(17, 14, 12, 0.37);
}

.member_image {
}

.image_field {
    width: 100%;
}


table td {
    font-size: 11pt;
    margin-left: 8px;
    color: rgba(132, 30, 42, 0.96);
    margin-right: 8px;
    padding: 4px;
    text-align: right;
    font-weight: 600;
    min-width: 80px;

}


.top_row td {
    color: rgba(32, 30, 32, 0.96);
    text-align: center;
    font-weight: bold;

}



.add_family {
    display: none;
    margin-bottom: 60px;
}

.add_family table {
    width: 100%;
}

.add_family table th {
}

form {
    width: 100%;
}

.user_login {
    padding: 6px;
}
.user_login a {
   
    color: white;
}

.delete_roster_member {
    display: none;
}
