<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>usla.ca - {{ page.slug }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'app/fonts/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/gallery.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static '/favicon.ico' %}" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

</head>

<body>
    <div class="container" style="background: url({{ page.image.url }}) no-repeat center center fixed; background-size: cover;">
        <div class="header">
            {% if user.is_authenticated %}
            <div class="user_login">
                <a href="/admin/"><i class="fa fa-user"></i>{{ user.username }}</a>
            </div>


            {% endif %}

            <div class="header_btn">
                <a href="#" onclick="openMenu();" id="navMenu"><i class="fa fa-navicon"></i></a>
            </div>
            <div class="header_text">
                <img src="{{ site_settings.logo_header_image.url }}" />
                <h1>{{ site_settings.site_name }}</h1>
                <p>{{ site_settings.site_desc }}</p>
            </div>

        </div>
        {% block content %}{% endblock %}
        <footer>
            <p><a href="{{ site_settings.facebook_link }}"><i class="fa fa-facebook"></i>USLA Facebook</a></p>
            <p>&copy; {{ year }} - usla.ca</p>

        </footer>
    </div>

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    <script src="{% static 'app/scripts/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'app/scripts/usla.js' %}"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
