{% load template_tags %}
<div class="event">

    <div class="publish_date">
        <h5>{{ e.publish_date }}</h5>
    </div>

    {% if e.author %}
    <h4>
       
        {% if e.board_news %}
            {{ e.board_news }}
        {% elif e.committee_news %}
            {{ e.committee_news }}
        {% endif %}
    </h4>
      
    {% endif %}
    <h1>{{ e.title }}</h1>
    
    {% if e.description %}
    <div class="event_right">
    {% else %}
    <div class="event_center">
    {% endif %}
    </div>
    {% if e.description %}
    <div class="event_left">
        <p>{{ e.description }}</p>
    </div>
    {% endif %}
    <div class="event_links">
            {% if e.image %}
            <p><a href="{{ e.image.url }}"><i class="fa fa-file-image-o"></i>See Image</a></p>
            {% endif %}
            {% if e.pdf_file %}
            <p><a href="{{ e.pdf_file.url }}"><i class="fa fa-file-pdf-o"></i>Download .pdf</a></p>
            {% endif %}
        </div>
    </div>
