{% load template_tags %}
<div class="event">

    <div class="publish_date">
        <h5>{{ e.publish_date }}</h5>
    </div>

    {% if e.author %}
    <h4>
       
        {% if e.board_news %}
            {{ e.board_news|safe }}
        {% elif e.committee_news %}
            {{ e.committee_news|safe }}
        {% endif %}
    </h4>
      
    {% endif %}
    <h1>{{ e.title }}</h1>
    {% if e.description %}
    <div class="event_right">
        {% else %}
        <div class="event_center">
            {% endif %}
        </div>
        {% if e.description %}
        <div class="event_left">
            <p>{{ e.description|safe }}</p>
        </div>
        {% endif %}
        <div class="event_contact">
            {% if e.contact_name %}
            <p>{{ e.contact_name }}</p>
            {% endif %}
            {% if e.contact_tel %}
            <p>{{ e.contact_tel }}</p>
            {% endif %}
            {% if e.contact_email %}
            <p><a href="mailto:{{ e.contact_email }}"><i class="far fa-envelope"></i>{{ e.contact_email }}</a></p>
            {% endif %}
 
        </div>
    <div class="event_links">
            {% if e.image %}
            {{ e.image.url|get_clickable_img|safe }}
            {% endif %}
            {% if e.pdf_file %}
            <p><a href="{{ e.pdf_file.url }}"><i class="far fa-file-pdf"></i>Download .pdf</a></p>
            {% endif %}
        </div>
    </div>
