{% extends "app/layout.html" %}
{% load template_tags %}
{% block content %}


<div class="nav_bar">
    <div class="closeBtn"><a href="#" onclick="closeMenu();"><i class="fa fa-times"></i></a></div>
    {% for p_t in pages %}
    {% if p_t.slug == page.slug %}

    <div class="nav_a_sel">
        {% else %}
        <div class="nav_a">
            {% endif %}
            <a href="{% url 'app:page' p_t.slug %}"><i class="fa {{ p_t.fa_icon }}"></i>{{ p_t.title_text }}</a>
        </div>
        {% endfor %}
    </div>
    <div class="page_content">
        <div class="page_title">
            <h1>
                {% if page.fa_icon %}


                <i class="fa {{ page.fa_icon }}"></i>

                {% endif %}
                {{ page.title_text}}
            </h1>
        </div>
        <div class="html_content">
            {% if page.slug == 'events' %}
            <div class="events_nav">
                <div class="events_nav_btn_sel" id="cal"><i class="fa fa-calendar"></i><a href="#">Calendar</a></div>

                <div class="events_nav_btn" id="events"><i class="fa fa-list-ol"></i><a href="#">Events</a></div>
            </div>
            {% include "app/calendar.html" %}
            {% include "app/event_list.html" %}
            {% elif page.slug == 'programs' %}
            {% include "app/program_list.html" %}
            {% elif page.slug == "contact" %}
            {% include "app/contact.html" %}
            {% elif page.slug == "home" %}
            <div class="page_body">
                <p>{{ page.description|safe}}</p>
            </div>
            {% endif %}
        </div>

    </div>

    {% endblock %}
