{% load template_tags %}
{% for p in extra %}

<div class="program">
	<h1><i class="fa {{ p.fa_icon }}"></i>{{ p.name }}</h1>
    {% if p.description %}

	<p>{{ p.description }}</p>
    {% endif %}
    <div class="registration_form">

        {% if p.pdf_file %}
            <h3><a href="{{ p.pdf_file.url }}"><i class="fa fa-file-pdf-o"></i>REGISTRATION FORM</a></h3>
        {% endif %}
    </div>
	<div class="program_dates">
		<h3>{{ p.start_date|date:"D d M" }} to {{ p.end_date|date:"D d M" }}</h3>

		{% with ps=p|get_program_schedule %}
           
            <table>
                <div class="ps_top_row">{{ p|get_dow_table_row|safe}}</div>
                {% for i in ps %}
                    {{ i|get_ps_table_row|safe}}
                {% endfor %}
            </table>
   

        
        {% endwith %}
        
 
	</div>
    <div class="program_sub_desc">
        {% if p.sub_description %}
        <p>{{ p.sub_description }}</p>
        {% endif %}
    </div>
	<div class="program_links">

      
		{% if p.contact_email %}
        <p>
            <a href="mailto:{{ p.contact_email }}"><i class="fa fa-envelope-o"></i>{{ p.contact_email }}</a>
        </p>
            {% endif %}
            {% if p.image %}
        {% if p.image %}
        {{ p.image.url|get_clickable_img|safe }}
        {% endif %}
            {% endif %}

</div>

</div>
{% endfor %}
